<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="HostMapper">  

	<!-- 根据id查，查出密码与输入密码比较 用于登录  -->
    <select id="findHostById" parameterType="int" resultType="com.plenkuing.rentalSystem.entity.Host">
    select * from Host where id=#{id};
	</select>
	 <!-- 根据 姓名查 防止注册重复用户名 用于注册-->
	<select id="findHostByName" parameterType="java.lang.String" resultType="com.plenkuing.rentalSystem.entity.Host">
	SELECT * FROM Host where name=#{name};
	</select>
	<!-- 增 -->
	 <insert id="saveHost" parameterType="com.plenkuing.rentalSystem.entity.Host">
    	INSERT INTO host (`name`, `address`, `phone`, `password`) VALUES (#{name},#{address},#{phone},#{password});

    </insert>
    <!-- 改 -->
    <update id="updateHost" parameterType="com.plenkuing.rentalSystem.entity.Host">
    	 update host set name=#{name}, address=#{address},phone=#{phone} where id =#{id};
    </update>
	
</mapper>